*{
  text-decoration:none;
}

body{
 background: linear-gradient(to right, #5D6D7E, #566573); 
 
 	text-decoration:none;
}
.sologan{
  font-weight:bold;
  font-size:15px;
  color:white;
  	text-decoration:none;
 
}
.main{height: 200px;
	text-decoration:none;
	width: auto; 
  margin:0px auto;
  margin-left:auto;
  margin-right:auto;
  display: block;
  	box-shadow: 1px 0px 20px 12px rgba(20,2,240,0.2);
  	border-radius:5px;
  	margin-top:22px;
  	margin-bottom:12px;
  	font-weight:bold;
  font-size:15px;
  color:white;

}
img{
  height: 180px;
	width: auto;
	margin:7px;
	border-radius:4px;


  
}
.head{
  	text-decoration:none;

  	box-shadow: 1px 0px 20px 12px rgba(20,2,240,0.2);
  	border-radius:5px;
  
width: 7px;
  	font-weight:bold;
  font-size:25px;
  color:white;
  margin-top:70px;
  

}
.Artist1{
  	text-decoration:none;
    	font-weight:bold;
  font-size:25px;
  color:white;
  
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg');
    width: 80%;
  margin:7px;
  border-radius:3px;
  
    background-size: cover;
    color: white;
    padding: 20px;

}
.Artist{
  border-radius:23px;
  height:150px;
  width:200px;
}
}